body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff3e0;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.02);
}

h2 {
    color: #e65100;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

input {
    width: 80%;
    max-width: 300px;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #ff9800;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #e65100;
}

button {
    width: 80%;
    max-width: 300px;
    background: linear-gradient(to right, #ff9800, #e65100);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #e65100, #bf360c);
}

a {
    display: block;
    margin-top: 15px;
    color: #e65100;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.helptext{
        color: red;
}

ul {
        color: red;
}

#id_password2_helptext {
    color: black;
}