{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Создать объявление</title>
        <link rel="stylesheet" href="{% static 'css/create_listing.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="header">

        <h1>Buy'n'Sell</h1>
        <div class="buttons">
            {% if user.is_authenticated %}
                <button onclick="location.href='{% url 'profile' %}'">Profile</button>
                <button onclick="location.href='{% url 'create' %}'">Create listing</button>
                <button onclick="location.href='{% url 'listing' %}'">My lists</button>
            {% else %}
                <button onclick="location.href='{% url 'register' %}'">Sign In</button>
                <button onclick="location.href='{% url 'login' %}'">Log In</button>
            {% endif %}
        </div>
    </div>
  <div class="container">
      <h2 style="text-align: center;"><strong>Создать новое объявление</strong></h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        <label for="title">Название:</label>
        <input type="text" id="title" name="title" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="description">Описание:</label>
        <textarea id="description" name="description" class="form-control" rows="5" required></textarea>
    </div>

    <div class="form-group">
        <label for="price">Цена (в тг):</label>
        <input type="number" id="price" name="price" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="category">Категория:</label>
        <input type="text" id="category" name="category" class="form-control" required>
        <!-- Или <select>, если у тебя категории фиксированы -->
    </div>

    <div class="form-group">
        <label for="location">Местоположение:</label>
        <input type="text" id="location" name="location" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="image">Изображение:</label>
        <input type="file" id="image" name="image" class="form-control-file">
    </div>

    <div class="form-group text-center mt-4">
        <button type="submit" class="btn btn-warning btn-lg text-white">Создать</button>
    </div>
</form>

  </div>
</body>
</html>