{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy'n'Sell</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="header">
        <h1>Buy'n'Sell</h1>
        <div class="buttons">
            {% if user.is_authenticated %}
                <button onclick="location.href='{% url 'profile' %}'">Profile</button>
                <button onclick="location.href='{% url 'create' %}'">Create listing</button>
                <button onclick="location.href='{% url 'chat_list' %}'">My chats</button>
            {% else %}
                <button onclick="location.href='{% url 'register' %}'">Sign In</button>
                <button onclick="location.href='{% url 'login' %}'">Log In</button>
            {% endif %}
        </div>
    </div>

    <div class="search-bar">
        <form method="GET">
            <input type="text" name="q" placeholder="Поиск объявлений..." value="{{ query }}">
            <button type="submit">Найти</button>
        </form>
    </div>

    <div class="categories">
        <h2>Категории</h2>
        <div class="category-buttons">
            <button>Недвижимость</button>
            <button>Авто</button>
            <button>Работа</button>
            <button>Электроника</button>
            <button>Услуги</button>
        </div>
    </div>


    <div class="lising">
    <h1>Объявления</h1>
        <ul>
        {% for ad in listing %}
        <li>
            <a href="{% url 'listing_detail' ad.id %}">
                <div class="ad-image">
                    {% if ad.image %}
                        <img src="{{ ad.image.url }}" alt="{{ ad.title }}">
                    {% else %}
                        <img src="{% static 'images/placeholder.png' %}" alt="Нет изображения">
                    {% endif %}
                </div>
                <div class="ad-details">
                    <h2>{{ ad.title }}</h2>
                    <p class="price">{{ ad.price }} тг</p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
