{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <script defer src="{% static 'js/register.js' %}"></script>
</head>
<body>
    <div class="container">
        <h2>Вход</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Войти</button>
</form>
        <a href="{% url 'register' %}">Нет аккаунта? Зарегистрироваться</a>
    </div>
</body>
</html>
